.App {
  text-align: center;
}

.App-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  border-top: 1px solid black;
  padding: 16px;
}

@media only screen and (max-width: 400px) {
  .App-buttons {
    flex-direction: column;
  }
}

.App-button {
  padding: 8px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.App-button:hover, .App-button:active {
  background-color: black;
  color: white;
}

.App-button.selected {
  background-color: black;
  color: white;
}

.App-orders {
  display: flex;
  justify-content: center;
}

.App-order {
  padding: 4px 8px;
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.App-order:first-child {
  border-right: none;
}

.App-order:active {
  background-color: black;
  color: white;
}

.App-order.selected {
  background-color: black;
  color: white;
}
